<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wyc.utils">

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <application>
        <activity
            android:name=".test.UtilsCppActivity"
            android:exported="false" />
        <activity
            android:name=".test.UtilsUnixActivity"
            android:exported="false" />
        <activity
            android:name=".test.UtilsSocketActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".test.UtilsSurfaceTextureActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".test.UtilsGlSurfaceViewActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".test.UtilsSurfaceViewActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".test.UtilsGraphicsActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".test.UtilsIPCActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <service android:name=".test.LocalService" />
        <service
            android:name=".test.RemoteService"
            android:enabled="true"
            android:exported="true"
            android:isolatedProcess="false"
            android:process=":remote" />

        <activity
            android:name=".UtilsMainActivity"
            android:exported="false" />
    </application>

</manifest>