<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wyc.utils">

    <application>
        <activity
            android:name=".IPCActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <service android:name=".ipc.LocalService" />
        <service
            android:name=".ipc.RemoteService"
            android:enabled="true"
            android:exported="true"
            android:isolatedProcess="true"
            android:process=":remote" />

        <activity
            android:name=".UtilsMainActivity"
            android:exported="false" />
    </application>

</manifest>